@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-scrollbar";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1130px;
  --breakpoint-2xl: 1520px;

  /* Colors */
  --color-primary: #0d091a;
  --color-secondary: #140e25;
  --color-tertiary: #201837;
  --color-tertiary-hover: #271f40;
  --color-accent: #5810ff;
  --color-accent-hover: #4a0bde;
  --color-background: #0d091a;
  --color-foreground: #ffffff;
  --color-muted-foreground: #a1a1aa;
  
  /* Fonts */
  --font-family-primary: 'Sometype Mono', monospace;
}

/* Apply base styles to the body element */
body {
  background-color: var(--color-primary);
  color: white;
  line-height: 1.625;
  font-family: var(--font-family-primary);
}

/* 4. Define reusable component classes using @apply.
*/

/* Typography */
.h1 {
  @apply text-[40px] font-extrabold leading-none tracking-tight md:text-[52px] xl:text-[56px];
}

.h2 {
  @apply text-[32px] font-medium leading-[1.15] tracking-tight md:text-[36px] xl:text-[38px];
}

.h3 {
  @apply text-[28px] font-medium leading-[1.2] md:text-[30px] xl:text-[32px];
}

.h4 {
  @apply text-[20px] font-medium leading-snug md:text-[24px] lg:text-[26px];
}

/* Layout */
.container {
  @apply mx-auto w-full max-w-(--breakpoint-xl) px-4;
}

/* Buttons */
.btn {
  @apply flex h-[45px] md:h-[56px] cursor-pointer items-center justify-center rounded-full font-medium transition-all;
}

.btn-sm {
  @apply max-w-full px-5 text-[15px] font-semibold;
}

.btn-lg {
  @apply min-w-[200px] px-6 text-base;
}

/* Button Color Variants */
.btn-accent {
  @apply bg-accent text-white hover:bg-accent-hover;
}

.btn-tertiary {
  @apply bg-tertiary text-white hover:bg-tertiary-hover;
}

.btn-white {
  @apply bg-white text-primary hover:bg-white/90;
}

.swiper {
  touch-action: none !important;
  padding-bottom: 48px !important;
}

/* Swiper pagination styling */
.swiper-pagination {
  display: none !important;  
}
